.app{
  width: 100%;
  height: 100vh;
  background-color: #efefef;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:#afafaf
}
.headline{
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 100vh;
  text-transform: uppercase;
  font-size: 8vh;
  font-weight: 700;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:#afafaf;
  padding-left: 2vh;
}